form[name='ieditor-detail-form'] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.image-upload-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.image-upload-container>* {
  width: 100%;
}

.upload-wrapper {
  position: relative;
}

.upload-wrapper>div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

label:has(> input[name='uploadImage']),
label:has(> input[name='film-url-preview']) {
  --label-height: 1.8rem;
  position: relative;
  height: var(--label-height);
  width: 10rem;
  text-align: center;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  border: 1px solid #000;
  border-radius: 3px;
  line-height: var(--label-height);
  font-size: 0.8rem;
  user-select: none;
}

input[name='uploadImage'],
input[name='film-url-preview'] {
  display: none;
}

div:has(> input[name='image-checkbox']),
div:has(> input[name='film-checkbox']) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

label:has(+ input[name='image-checkbox']),
label:has(+ input[name='film-checkbox']) {
  flex: 2;
}

input[name='image-checkbox'],
input[name='film-checkbox'] {
  flex: 1;
}

.preview-image-wrapper {
  position: relative;
  /* background-size: cover; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: blueviolet;
  aspect-ratio: 16 / 9;
}

.preview-image-wrapper::before {
  content: '圖片/影片預覽';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 5px 5px 4px rgb(0 0 0);
  font-weight: bolder;
  font-size: larger;
  white-space: nowrap;
}

.preview-image-wrapper::after {
  content: attr(data-attr);
  display: block;
  position: absolute;
  top: -1.5rem;
  left: 0;
}

.preview-image-wrapper>iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}