form[name='editor-list-form'] {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

form[name='editor-list-form']>div {
  flex: 1;
}

form[name='view-editor-list-form']>div {
  display: flex;
  /* flex-direction: row; */
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.view-form {
  position: relative;
}

.view-form>div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
}

.view-editor-list-header {
  flex-direction: row;
}

/* .view-editor-list-header > div {
  cursor: pointer;
  user-select: none;
} */
.view-form>div>div {
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.view-editor-list-header,
.view-editor-list-body {
  position: relative;
}



.view-editor-image-container>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.view-editor-image-container + div>a {
  position: inherit;
}

.view-editor-list-body>div {
  cursor: pointer;
  height: fit-content;
}

.view-editor-list-body>div:nth-child(even) {
  background-color: #ddd;
}

.view-editor-list-body>div:hover {
  background-color: #eee;
}

.view-editor-list-body {
  flex-direction: column;
}

.view-editor-list-body>div>div:last-child {
  display: flex;
  flex-direction: column;
}

.view-editor-list-body>div>div:last-child>span:first-child {
  font-weight: bolder;
}

.published {
  color: green;
}

.not-published-yet {
  color: red;
}

.class-cell {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}