[data-slate-editor]>*+* {
    margin-top: 1em;
}

[data-slate-editor]>*:has(code)+*:has(code) {
    margin-top: 0;
}

[data-slate-editor] :not(pre)>code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
}

[data-slate-editor] button {
    border: unset;
    outline: unset;
    padding: 0;
    margin: 0 0.5rem;
    font-weight: bold;
    color: rgb(204, 204, 204);
    background: transparent;
    cursor: pointer;
}

[data-slate-editor] .active {
    color: black;
}

[data-slate-editor] p {
    margin: 0;
}

[data-slate-editor] blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}


[data-slate-editor] ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

[data-slate-editor] ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

[data-slate-editor] li {
    display: list-item;
    text-align: -webkit-match-parent;
}