html,
body {
  margin: 0;
}

h4 {
  text-align: center;
}

label {
  font-size: 1rem;
}

:where(input[type='submit'] input[type='reset'],
  input[type='button'],
) {
  padding: 0;
  display: block;
  width: min(10rem, 100%);
  cursor: pointer;
  /* cursor: pointer; */
}

div>input[type='submit'],
div>input[type='reset'],
div>input[type='button'] {
  padding: 0;
  cursor: pointer;
}

input[type='submit'] {
  background-color: darkviolet;
  color: white;
  border: none;
}

input[type='submit']:hover {
  background-color: violet;
}

input[type='checkbox'] {
  padding: 0;
  margin: 0;
  height: 1rem;
}

input[type='file'] {
  padding: 0;
  margin: 0;
}



.container {
  width: 100%;
  background-color: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

.left-side {
  width: 70%;
  padding: 0 1rem;
  /* background-color: lightgrey; */
}

.right-side {
  width: 30%;
  padding: 0 1rem;
  /* background-color: lightblue; */
}

.view-list-form>div {
  display: flex;
  flex-direction: column;
}

.view-form {
  position: relative;
  padding-right: 17px;
  background-color: #ccc;
}

.view-search-form {
  position: sticky;
}

.view-list-form>div>div {
  display: flex;
  flex-direction: row;
}

.view-list-form>div>div>div {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #999;
  flex: 1;
}

.view-list-form * .editor-list-title {
  flex-grow: 3;
  text-align: left;
  white-space: pre-wrap;
}

.view-list-form * .view-editor-image-container>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  cursor: pointer;
}

.view-body {
  height: 560px;
  overflow-y: scroll;
}

.view-body>div>div {
  height: 100px;
  border: 1px solid #999;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.view-body>div:nth-child(2n-1) {
  background-color: #eee;
}

.view-body>div:nth-child(2n) {
  background-color: #ccc;
}

.edit-icon-wrapper {
  --edit-icon-size: 35px;
  position: relative;
  width: var(--edit-icon-size);
  height: var(--edit-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 5px;
}

.edit-icon-wrapper:hover {
  background-color: #bbb;
}

.edit-icon-wrapper:hover>span {
  color: #eee;
}

.edit-icon-input {
  position: absolute;
  height: 100%;
  width: 100%;
  border: unset;
  margin: unset !important;
  background-color: transparent;
}

.tag-list-form,
.editor-list-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 1300px;
  margin-right: auto;
  align-items: flex-end;
  gap: 40px;
}

.tag-list-form {
  width: 1000px;
}

.tag-list-form .title>input ,
.editor-list-form .title>input {
  height: 40px;
  width: 150px;
  border: 1px solid black;
  border-radius: 4px;
}

.tag-list-form .button-list ,
.editor-list-form .button-list {
  width: 300px;
  display: flex;
  gap: 40px;
}